<<<<<<< HEAD
.home-container {
=======
.home-route-container {
>>>>>>> 855b91ca08eeb3d64178c2d60d05439047547ce7
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  margin: auto;
  padding-top: 10px;
  padding-bottom: 50px;
  width: 90%;
  max-width: 1110px;
}

@media screen and (min-width: 768px) {
  .home-container {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 96px;
  }
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .home-content {
    align-items: flex-start;
  }
}

.home-mobile-img {
  width: 206px;
}

@media screen and (min-width: 768px) {
  .home-mobile-img {
    display: none;
  }
}

.home-desktop-img {
  width: 50%;
  max-width: 450px;
  margin-left: 85px;
}

@media screen and (max-width: 767px) {
  .home-desktop-img {
    display: none;
  }
}

.home-heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .home-heading {
    font-size: 46px;
    text-align: left;
  }
}

.home-description {
  font-family: 'Roboto';
  margin-top: 36px;
  font-size: 14px;
  line-height: 28px;
  color: #64748b;
  margin-bottom: 0px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .home-description {
    font-size: 18px;
    margin-top: 0px;
    text-align: left;
  }
}

.shop-now-button {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto';
  color: #ffffff;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 6px;
  background-color: #0967d2;
  margin-top: 20px;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 768px) {
  .shop-now-button {
    width: 150px;
    font-size: 16px;
  }
}
=======
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  min-height: 100vh;
}

@media screen and (min-width: 768px) {
  .home-route-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}

.teams-list-container {
  width: 90%;
  max-width: 600px;
}

@media screen and (min-width: 768px) {
  .teams-list-container {
    width: 90%;
    max-width: 1110px;
  }
}

.ipl-dashboard-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ipl-logo {
  width: 25px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .ipl-logo {
    width: 60px;
    height: 96px;
  }
}

.ipl-dashboard-heading {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 36px;
  margin-left: 12px;
}

@media screen and (min-width: 768px) {
  .ipl-dashboard-heading {
    font-size: 72px;
    margin-left: 16px;
  }
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.teams-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}
>>>>>>> 855b91ca08eeb3d64178c2d60d05439047547ce7
